/* navigation section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 10px;
}
/* home section */
#home{
    height: 250px;
    padding: 30px 70px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}
/* services section  */
#services{
    flex-direction: column;
}
#services .box{
    padding: 30px;
    margin:2px 0px;
}

/* client section  */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 140px;
    padding: 2px 9px;
    height: auto;

}
/* contact section  */
#contact form{
    width: 80%;
}

/* footer  */

/* utility classes  */
.h-primary{
    font-size: 25px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}